.icone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.centrado{
    display: block;
    text-align: center;
}

.form-control{
    border-radius: 5px;
    display: block;
}

.btn{
    position: relative;
    top: 5px;
    right: -115px;
    display: block;
    width: 30%;
}


